<ion-list color="dark">

    <ion-item-sliding *ngFor="let l of Listas|filtro:terminada">
        <ion-item color="dark" detail (click)="listaseleccion(l)">
            <ion-label>{{l.title}}</ion-label>
            <ion-note color="tertiary" slot="end">{{l.items.length}} items</ion-note>
        </ion-item>
        <ion-item-options side="end">
            <ion-item-option (click)="BorrarLista(l)" color="danger">
                <ion-icon name="close" slot="icon-only"></ion-icon>
            </ion-item-option>
        </ion-item-options>
        <ion-item-options side="start">
            <ion-item-option (click)="EditList(l)" color="primary">
                <ion-icon name="pencil-outline" slot="icon-only"></ion-icon>
            </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>

</ion-list>