<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar>
        <ion-icon name="checkmark-done-outline" slot="start" style="margin-left: 10px; zoom:2.0;"></ion-icon>
        <ion-title>

            Completados
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tab 3</ion-title>
        </ion-toolbar>
    </ion-header>

    <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>