<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar color="primary">
        <ion-icon name="list-outline" slot="start" style="margin-left: 10px; zoom:2.0;"></ion-icon>
        <ion-title>
            Pendientes
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
    <app-listas></app-listas>
    <ion-list>
        <ion-item *ngFor="let l of Listas;" color="dark" detail (click)="listaseleccion(l)">
            <ion-label>{{l.title}}</ion-label>
            <ion-note color="tertiary" slot="end">{{l.items.length}} items</ion-note>
        </ion-item>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="tertiary" (click)="addingList()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>