<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar color="primary">
        <ion-icon name="list-outline" slot="start" style="margin-left: 10px; zoom:2.0;"></ion-icon>
        <ion-title>
            Pendientes
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
    <app-listas [terminada]="false"></app-listas>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="tertiary" (click)="addingList()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>